table{
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    height: 70px;
    width: 650px;
    border-radius: 8px;
}

th,
td{
    padding: 5px;
}

.GPATable{
    background-color: #ECE9D6;
}

.title{
    color: #DF6245;
    text-align: center;
    font-size: 350%;
    margin-top: 3%;
}

.TableHeader{
    background-color: rgb(59, 30, 18);
    color: rgb(255, 255, 255);
}

.number{
    text-align: center;
}

.courseID{
    text-align: center;
}

.grade{
    text-align: center;
}

.titleYear{
    text-align: center;
    
}