/*profile --> headerPage*/
.header{
  background-color: #152731;
}

.container-fluid{
  height: 310px;
  padding-top: 10px;
}

nav{
  border: light;
}

.nav-link{
  font-size: 30px;
  padding: 5px 20px;
  margin: 0 50px;
  color: #DF6245;
}

.nav-link:hover{
  background-color: #ECE9D6;
  color: #152731;
}